body {
  background-color: #E8F9FD;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;
}
h1{
    color: #668FBF ;
    
}
h3{
  color: #668FBF;
  font-style: italic;
}
